:root {
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-small: 1rem;
  --font-size-regular: 1.25rem;
}
