:root {
  --button-border-radius: 4px;
  --container-max-width: 900px;

  --spacing-gutter: 16px;
  --spacing-gap: 16px;

  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

}
