:host .swiper {
  padding: 24px;
}

.container {
  display: block;
  margin: auto;
  padding: var(--spacing-gutter);
  max-width: var(--container-max-width);
}

.slide {
  display: block;
  position: relative;
}

.slide__border {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  border-radius: 4px;
}

.slide__border--before {
  top: -6px;
  left: -6px;
  border: 2px solid var(--color-magenta);
}

.slide__border--after {
  right: -6px;
  bottom: -6px;
  border: 2px solid var(--color-light-yellow);
}

.slide__image {
  aspect-ratio: 4/3;
  border-radius: 4px;
  overflow: hidden;
}

.slide__img {
  display: flex;
  vertical-align: middle;
  aspect-ratio: 4/3;
  max-width: 100%;
  max-height: 100%;
}

.slide__title {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  padding: 2px;
  font-family: var(--font-family);
  text-align: center;
  font-size: var(--font-size-T300);
  font-weight: 300;
  background: linear-gradient(135deg, rgba(128, 128, 128, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #FFF;
}

.slide__band {
  display: none;
}
