.hero {
  display: grid;
  gap: calc(var(--spacing-gap) * 2);
}

@media (min-width: 48em) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .hero {
    grid-template-columns: 2fr 1fr;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


@media (min-width: 48em) {
  .hero__text {
    text-align: left;
  }
}

.hero__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angular-tilt {
  display: flex;
  width: 100%;
  background: linear-gradient(153deg, var(--color-dark-magenta) 0%, var(--color-blue) 100%);
  background-color: var(--color-dark-magenta);
  aspect-ratio: 4 / 3;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: var(--spacing-md);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.angular-tilt span {
  line-height: 1em;
  color: var(--color-white);
}

.container {
  max-width: var(--container-max-width);
  padding: 0 var(--spacing-gutter);
  margin: var(--spacing-2xl) auto;
}
