.footer {
  background-color: var(--color-dark-magenta);
}

.footer__decoration {

  --fill-top: var(--color-dark-teal);
  --fill-bottom: var(--color-dark-magenta);
  --hex-bottom: var(--color-dark-magenta);
  --hex-top: var(--color-dark-magenta);

  background: radial-gradient(circle farthest-side at 0% 50%, var(--fill-top) 23.5%, transparent 0) 21px 30px,
  radial-gradient(circle farthest-side at 0% 50%, var(--hex-top) 24%, transparent 0) 19px 30px,
  linear-gradient(var(--fill-top) 14%, transparent 0, transparent 85%, var(--fill-top) 0) 0 0,
  linear-gradient(150deg, var(--fill-top) 24%, var(--hex-top) 0, var(--hex-top) 26%, transparent 0, transparent 74%, var(--hex-top) 0, var(--hex-top) 76%, var(--fill-top) 0) 0 0,
  linear-gradient(30deg, var(--fill-top) 24%, var(--hex-top) 0, var(--hex-top) 26%, transparent 0, transparent 74%, var(--hex-top) 0, var(--hex-top) 76%, var(--fill-top) 0) 0 0,
  linear-gradient(90deg, var(--hex-bottom) 2%, var(--fill-bottom) 0, var(--fill-bottom) 98%, var(--hex-bottom) 0%) 0 0;

  background-size: 40px 60px;
  height: 21px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-gutter);
  gap: var(--spacing-gap);
  max-width: var(--container-max-width);
  margin: auto;
}

.footer__nav-title {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-gap);
  margin: var(--spacing-lg) 0;
  list-style: none;
  padding: 0;
}

@media (min-width: 48em ) {
  .footer__links {
    display: flex;
  }
}

.footer__legals {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-gutter);
  gap: var(--spacing-gap);
  max-width: var(--container-max-width);
  margin: 0 auto 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  font-size: var(--font-size-T200);
}

.footer__trim {
  background-image: url("../../../assets/damask.svg");
  background-size: 400px;
  background-repeat: repeat-x;
  padding-top: 50px;
  margin-top: var(--spacing-lg);
}

.link {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  font-size: var(--font-size-T300);
  text-decoration-thickness: 2px;
  text-decoration: none;
  padding: 2px;
  margin: -2px;
  transition: color 150ms ease-out;
}

.link--active {
  text-decoration: underline;
}

.link:hover {
  color: var(--color-light-yellow);
}

.link:focus {
  box-shadow: var(--focus-box-shadow);
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
