.footer {
  background-color: var(--color-dark-purple);
}

.footer__decoration {
  height: 40px;
  background: linear-gradient(-135deg, var(--color-dark-teal) 20px, transparent 0) 0 20px,
  linear-gradient(135deg, var(--color-dark-teal) 20px, var(--color-dark-purple) 0) 0 20px;
  background-size: 40px 40px;
  background-position: center bottom;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-gutter);
  gap: var(--spacing-gap);
  max-width: var(--container-max-width);
  margin: auto;
}

.footer__nav-title {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-gap);
  margin: var(--spacing-lg) 0;
  list-style: none;
  padding: 0;
}

@media (min-width: 48em ) {
  .footer__links {
    display: flex;
  }
}

.footer__legals {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-gutter);
  gap: var(--spacing-gap);
  max-width: var(--container-max-width);
  margin: var(--spacing-lg) auto 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  font-size: var(--font-size-T200);
}

.footer__trim {
  background-image: url("../../../assets/damask.svg");
  background-size: 400px;
  background-repeat: repeat-x;
  padding-top: 50px;
  margin-top: var(--spacing-lg);
}

.link {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: var(--color-pink);
  font-size: var(--font-size-T300);
  text-decoration-thickness: 2px;
  padding: 2px;
  margin: -2px;
}

.link:focus {
  box-shadow: var(--focus-box-shadow);
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
