:host(.menu-close) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: var(--button-border-radius);
  color: var(--color-white);
  cursor: pointer;
}

:host(.menu-close):focus {
  box-shadow: var(--focus-box-shadow);
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
